-if @user.id == current_user.id
  = link_to 'Edit Profile', edit_profile_path(@user.username)
  = profile_avatar_select(@user)
  = @user.username
- if @user.id == current_user.id
  = link_to 'Edit Profile', edit_profile_path(@user.username), class: 'btn edit-button'
- else
  - if current_user_is_following(current_user, @user)
    = link_to 'Following', unfollow_user_path, remote: true, class: 'btn unfollow-button', id: 'unfollow-button', method: :post
  - else
    = link_to 'Follow', follow_user_path, remote: true, class: 'btn follow-button', id: 'follow-button', method: :post
= @user.bio
%p
= pluralize @user.images.count, 'image'
-@images.each do |image|
  = render 'images/image', image: image