%h2 Login
= form_with url: login_path, local: true do |f|
  = f.label :username
  = f.text_field :username
  = f.label :password
  = f.password_field :password
  = f.submit 'Login'

%h3 Not registered?
= link_to "Register here", new_user_path