= form_image_select(@image)
= simple_form_for @image, html: { multipart: true } do |f|
  = f.error_notification
  %h4 Upload an image (this is required):
  = f.input :graphic, label: false, input_html: { onChange: 'loadFile(event)' }
  = f.input :caption, label: false, placeholder: 'Add your caption'
  = f.button :submit, class: ''
