= link_to image.user.username, profile_path(image.user.username)
= time_ago_in_words image.created_at
= link_to (image_tag image.graphic.url(:medium), class:''), image_path(image)
= render 'images/likes', image: image
= image.user.username
= image.caption
.comments{id: "comments_#{image.id}"}
= render image.comments, image: image
= link_to '', like_image_path(image.id), remote: true, id: "like_#{image.id}", class: "like glyphicon #{liked_image image}"
= form_for [image, image.comments.build], remote: true do |f|
  = f.text_field :comment, placeholder: 'Add a comment...', class: "", id: "comment_content_#{image.id}"