.posts-wrapper
  .post
    .post-head
      .thumb-img
      .user-name
        = image.user.username
    .image.center-block
      = link_to (image_tag image.graphic.url(:medium), class:'img-responsive'), image_path(image)
    .post-bottom
      .caption
        .user-name
          = image.user.username
        = image.caption
      - if image.comments
        - image.comments.each do |comment|
          .comment
            .user-name
              = comment.user.username
            .comment-content
              = comment.comment
            - if comment.user == current_user
              = link_to image_comment_path(image, comment), method: :delete, data: { confirm: "Are you sure?" } do
                %span(class="glyphicon glyphicon-remove delete-comment-icon")
    .comment-like-form.row
      .like-button.col-sm-1
        %span(class="glyphicon glyphicon-heart-empty")
      .comment-form.col-sm-11
        = form_for [image, image.comments.new] do |f|
          = f.text_field :comment, placeholder: 'Add a comment...'