%p 
  = @image.caption
= image_tag @image.graphic.url(:medium)
- @comments.each do |comment|
  %ul
    %li
      = 'Username:'
      = comment.user.username
    %li
      = 'Caption:'
      = comment.comment

-# where @image.id = int
= link_to "Add Comment", new_comment_path(image_id: @image.id)
-# rendeers as   <a href="/comments/new.8">Add Comment</a>
