%p 
  = @image.caption
= image_tag @image.graphic.url(:medium)
- @comments.each do |comment|
  %ul
    %li
      = 'Username:'
      = comment.user.username
    %li
      = 'Caption:'
      = comment.comment

.text-center.edit-links
  = link_to "Edit image", edit_image_path(@image.id)
  = link_to "Add Comment", new_image_comment_path(@image.id)
  = link_to "Go back", images_path
