= link_to "AnxietyGram", root_path
- if logged_in?
  %li= render 'notifications/notification_dropdown'
  - if !current_user.following.blank?
    %li= link_to 'My Feed', images_path
  %li= link_to 'All Images', all_images_path
  %li= link_to 'Submit Image', new_image_path
  %li= link_to 'My Profile', profile_path(current_user.username)
  %li= link_to 'Logout', logout_path
- else
  %li= link_to 'Login', login_path
  %li= link_to 'Register', new_user_path